FLOWIE_SERVER_IMAGE=flowie-server:local
FLOWIE_CONFIG_FILE=./config/flowie.yml
FLOWIE_GRAPH_FILE=./config/flowie.flow
FLOWIE_CONTROL_CONFIG_FILE=./config/control.yml
FLOWIE_CERT_DIR=./certs
FLOWIE_CONTROL_KEY_PASSWORD_FILE=./secrets/control-key-password
FLOWIE_DATA_VOLUME=flowie-data
FLOWIE_PROTOCOL_STORE_DRIVER=postgresql
FLOWIE_PROTOCOL_STORE_OPTIONS='{"conninfo":"host=127.0.0.1 port=55432 dbname=flowie user=flowie password=replace-me"}'
FLOWIE_CONTROL_DB_CONNINFO='host=127.0.0.1 port=55432 dbname=flowie user=flowie password=replace-me'
FLOWIE_POSTGRES_PORT=55432
FLOWIE_POSTGRES_PASSWORD=replace-me
FLOWIE_POSTGRES_DATA_VOLUME=flowie-postgres-data
FLOWIE_CONTROL_DATA_VOLUME=flowie-control-data
FLOWIE_PROFILE=flowie
FLOWIE_COMBINED_CHECK=0
FLOWIE_HEALTH_HOST=127.0.0.1
FLOWIE_HEALTH_PORT=18883
FLOWIE_CONTROL_CHECK=0
FLOWIE_CONTROL_HEALTH_HOST=127.0.0.1
FLOWIE_CONTROL_HEALTH_PORT=8443
